.section {
  display: flex;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
}

.container {
  max-width: 1200px;
  width: 76%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

/* Texto */
.textContent {
  color: #ECF0F1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}

.subtitle {
  font-size: 1rem;
  color: #95A5A6;
  margin-bottom: 30px;
  line-height: 1.5;
  max-width: 400px;
    font-family: "Roboto", sans-serif;
}

/* Cards */
.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: 400px;
}

.card {
  background: #1e1e2f;
  border-radius: 12px;
}

.cardLarge {
  grid-row: span 2; /* Faz o primeiro card ficar grande */
}
